<a href="https://colab.research.google.com/github/ayenko/sifted/blob/main/Article_RRR_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import seaborn as sns
import numpy as np

In [ ]:
file_path = '/content/June Reach Revenue Reputation Analysis.csv'

In [ ]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path, encoding='utf-8')

In [ ]:
df.head()

,Page path,Sifted category,Sifted topic,Grouped topic,Reach,Revenue,Reputation,U Pageviews,Pageviews,Corporate,...,Associate,Director,Junior,Manager,Other roles,Partner,Senior,Senior manager,Student,undefined
0,/articles/brunch-with-adriaan-mol-mollie-messa...,Interview,Fintech,Fintech,1.0,NaN,1.0,7837,836,60.0,...,44.0,106.0,18.0,55.0,46.0,29.0,30.0,29.0,9.0,4.0
1,/articles/first-time-vc-pitch-decks,How To,Venture Capital,Venture Capital,NaN,1.0,NaN,5918,1080,26.0,...,60.0,97.0,30.0,62.0,46.0,110.0,6.0,23.0,17.0,5.0
2,/articles/backing-schoolmates-alumni-funds-europe,Analysis,Venture Capital,Venture Capital,1.0,1.0,NaN,1723,451,17.0,...,28.0,41.0,14.0,15.0,42.0,29.0,6.0,17.0,15.0,6.0
3,/articles/uk-pensions-finally-invest-more-tech,Analysis,Venture Capital,Venture Capital,1.0,1.0,NaN,391,255,24.0,...,12.0,35.0,14.0,25.0,23.0,18.0,3.0,11.0,4.0,NaN
4,/articles/how-to-close-a-company,How To,Startup Life,Startup Life,NaN,1.0,NaN,329,125,5.0,...,3.0,10.0,4.0,6.0,5.0,4.0,6.0,NaN,4.0,NaN

In [ ]:
# Create a function to determine the Article type based on the combination of Reach, Revenue, and Reputation.
def determine_article_type(row):
    if row['Reach'] == 1 and pd.isna(row['Revenue']) and pd.isna(row['Reputation']):
        return 'Reach'
    elif pd.isna(row['Reach']) and row['Revenue'] == 1 and pd.isna(row['Reputation']):
        return 'Revenue'
    elif pd.isna(row['Reach']) and pd.isna(row['Revenue']) and row['Reputation'] == 1:
        return 'Reputation'
    elif row['Reach'] == 1 and row['Revenue'] == 1 and pd.isna(row['Reputation']):
        return 'Reach + Revenue'
    elif row['Reach'] == 1 and pd.isna(row['Revenue']) and row['Reputation'] == 1:
        return 'Reach + Reputation'
    elif pd.isna(row['Reach'])  and pd.isna(row['Revenue']) and row['Reputation'] == 1:
        return 'Revenue + Reputation'
    else:
        return 'Other'

# Apply the function to create a new column "Article type."
df['Article type'] = df.apply(determine_article_type, axis=1)

# Group the DataFrame by "Article type" and calculate counts, total Pageviews, and average Pageviews.
result_df = df.groupby('Article type').agg(
    Count=('Pageviews', 'count'),
    Total_Pageviews=('Pageviews', 'sum'),
    Avg_Pageviews=('Pageviews', 'mean'),
    U_Pageviews=('U Pageviews', 'mean')
).reset_index()

# Rename the 'Pageviews' columns to 'Avg Pageviews.'
result_df.rename(columns={'Count': 'Article Type Count'}, inplace=True)

# Display the resulting DataFrame.
print(result_df)

         Article type  Article Type Count  Total_Pageviews  Avg_Pageviews  \
0               Other                  16             6924     432.750000
1               Reach                  54            16207     300.129630
2  Reach + Reputation                   8             3915     489.375000
3     Reach + Revenue                  17             7655     450.294118
4             Revenue                  31            16559     534.161290

   U_Pageviews
0  6957.937500
1  2106.388889
2  4314.750000
3  3046.764706
4  2947.741935

In [ ]:
# Export the DataFrame to a CSV file.
result_df.to_csv("article_type_summary.csv", index=False)

In [ ]:
# Create columns for Org Type 1 and Org Type 2 based on specified combinations. - Service provider to Startups
df['Org Type 1'] = df['Corporate'] + df['Investment firm'] + df['Service provider'] + df['Series B+ Startup']
df['Org Type 2'] = df['Pre-seed Startup'] + df['Seed Startup'] + df['Series A Startup']
df['Other Org Types'] = df['I dont work at the moment'] + df['Other org types']
df['Seniority Type 1'] = df['Director'] + df['Senior manager'] + df['Partner']
df['Seniority Type 2'] = df['(Co) Founder']
df['Other Seniority Types'] = df['Associate'] + df['Manager'] + df['Student'] + df['Academic'] + df['Other roles'] + df['undefined']+ df['Junior']

# Group the DataFrame by "Article type" and calculate the average Pageviews, Org Type 1, and Org Type 2.
result_df = df.groupby('Grouped topic').agg(
    Article_Count=('Pageviews', 'count'),
    Total_Pageviews=('Pageviews', 'sum'),
    Avg_Pageviews=('Pageviews', 'mean'),
    U_Pageviews=('U Pageviews', 'mean'),
    Org_Type_1=('Org Type 1', 'mean'),
    Org_Type_2=('Org Type 2', 'mean'),
    Other_Org_Types=('Other Org Types', 'mean'),
    Seniority_Type_1=('Seniority Type 1', 'mean'),
    Seniority_Type_2=('Seniority Type 2', 'mean'),
    Other_Seniority_Types=('Other Seniority Types', 'mean'),
).reset_index()

# Rename the 'Pageviews' columns to 'Avg Pageviews.'
result_df.rename(columns={'Article type': 'Article Types'}, inplace=True)

# Display the resulting DataFrame.
print(result_df)

       Grouped topic  Article_Count  Total_Pageviews  Avg_Pageviews  \
0       Climate Tech             14             7184     513.142857
1           Consumer              5             1291     258.200000
2           Deeptech             22             8873     403.318182
3            Fintech             13             6325     486.538462
4         Healthtech              6             2241     373.500000
5           Mobility              1              151     151.000000
6  Public & Academic              3              861     287.000000
7       Startup Life             25             8125     325.000000
8    Venture Capital             35            16013     457.514286

   U_Pageviews  Org_Type_1  Org_Type_2  Other_Org_Types  Seniority_Type_1  \
0  4157.357143  229.571429  116.857143        90.642857         90.857143
1  3880.000000  132.500000   82.000000        47.500000         44.500000
2  5412.136364  189.277778  107.476190        67.619048         67.809524
3  3535.307692  210.538462  118.461538        78.538462        100.250000
4  4119.166667  202.000000   91.000000        62.800000         65.400000
5   929.000000   72.000000   30.000000        20.000000         33.000000
6  2263.333333  176.000000  111.000000        45.000000         71.000000
7  1839.440000  142.260870   93.666667        53.636364         66.250000
8  2324.171429  242.709677  100.942857        68.484848         87.939394

   Seniority_Type_2  Other_Seniority_Types
0         86.428571             210.666667
1         71.250000                    NaN
2         79.045455             332.000000
3         84.000000             161.000000
4         66.666667                    NaN
5         19.000000                    NaN
6         64.333333                    NaN
7         68.880000             109.000000
8         83.600000             248.333333

In [ ]:
# Export the DataFrame to a CSV file.
result_df.to_csv("may_article_type_summary.csv", index=False)